    /* Base */
    body {
        transition: background-color 0.3s, color 0.3s;
    }

    body.dark {
        background-color: #121212 !important;
        color: white !important;
    }


    /*********************************** ************** ***********************************/
    /*********************************** INdex Page (Home) ***********************************/
    /*********************************** ************** ***********************************/


    /*********************************** Navbar ***********************************/
    nav.navbar {
        direction: ltr;
    }

    body.dark .navbar {
        background-color: #222 !important;
    }

    /********************************* Theme Toggle Icon for dark mood *********************************/
    .theme-toggle {
        cursor: pointer;
        font-size: 1.5rem;
        transition: transform 0.3s ease;
        color: #c1e209;
    }

    /*********************************** Hero section  ***********************************/
    .hero {
        height: 80vh;
        background: url(../images/background.jpg) center/cover no-repeat;
        filter: brightness(1.1) contrast(1.1);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(228, 220, 220);
    }



    /* الطبقة تغطي كامل الصفحة */
    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);

        display: flex;
        align-items: center;
    }

    /* المحتوى على اليسار */
    .content {
        margin-left: 80px;
        color: white;
        max-width: 500px;
    }

    /* العنوان */
    .content h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    /* الأزرار */
    .buttons button {
        margin-right: 10px;
        padding: 10px 25px;
        border-radius: 10px;
    }

    .content {
        margin-left: 100px;
        animation: fadeLeft 1s ease;
    }

    @keyframes fadeLeft {
        from {
            opacity: 0;
            transform: translateX(-40px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /************************************ Cards ************************************/
    .card img {
        height: 150px;
        object-fit: cover;
        width: 100%;
        border-radius: 5px 5px 0 0;

    }

    .card {
        background-color: #fff;
        color: #333;
    }

    body.dark .card {
        background-color: #fff;
        /* خليه فاتح */
        color: #333;
        /* النص غامق */
    }

    body.dark .card {
        background-color: #1e1e1e;
        color: #fff;
    }

    /************************************ Amenities ************************************/
    /*1* Amenities Vertical Icons */
    .amenities-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /*  العناصر في الوسط */
        padding: 0;
        list-style: none;
        margin: 0 auto;
        text-align: center;
    }

    .amenities-list li {
        display: flex;
        flex-direction: column;
        /* العمودي: أيقونة فوق النص */
        align-items: center;
        justify-content: center;
        margin: 15px 25px;
        /* مسافة بين العناصر */
        font-size: 1.1rem;
        flex: 0 1 100px;
        /* حجم متجاوب لكل عنصر */
    }

    .amenities-list i {
        font-size: 2.5rem;
        /* أيقونة أكبر وواضحة */
        color: #95fd0d;
        margin-bottom: 8px;
        /* مسافة بين الأيقونة والكلمة */
        transition: transform 0.3s;
        /* حركة بسيطة عند hover */
    }

    .amenities-list li:hover i {
        transform: scale(1.2);
        /* تكبير خفيف عند المرور بالماوس */
    }

    /************************************ Footer ************************************/
    footer {
        background: #222;
        color: #ccc;
        padding: 20px 0;
    }

    /***************************************Finish INdex Page (Home)*************************************************/
    /*********************************** ************** ***********************************/




    /*********************************** Roome Page  **************************************/
    /*********************************** ************** ***********************************/
    body {
        transition: background 0.3s, color 0.3s;
    }

    body.dark {
        background: #121212;
        color: white;
    }

    body.dark .navbar {
        background-color: #222 !important;
    }

    /************************************ navbar for second page ************************************/
    nav.navbar {
        direction: ltr;
    }

    /********************************* Theme Toggle Icon for dark mood *********************************/
    .theme-toggle {
        cursor: pointer;
        font-size: 1.5rem;
    }

    /********************************* Card for img *********************************/
    .card img {
        height: 150px;
        object-fit: cover;
        width: 100%;
    }

    /********************************* Filter-Bar *********************************/
    .filter-bar {
        margin: 20px 0;
    }

    /***********************************  Finish Roome Page  ***********************************/
    /*********************************** ************** ***********************************/




    /***********************************  Start Booking form  ***********************************/
    /*********************************** ************** ***********************************/

    body {
        transition: background-color 0.3s, color 0.3s;
    }

    body.dark {
        background-color: #121212 !important;
        color: white !important;
    }

    body.dark .navbar {
        background-color: #222 !important;
    }

    .theme-toggle {
        cursor: pointer;
        font-size: 1.5rem;
        transition: all 0.3s ease;
    }

    .error-msg {
        color: red;
        font-size: 0.9rem;
        margin-top: 2px;
    }

    .summary-box {
        border: 1px solid #0d6efd;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
        background: #f8f9fa;
    }

    body.dark .summary-box {
        background: #222;
        border-color: #0d6efd;
        color: white;

    }